.my-danger-button {
    background-color: #0d1117 !important;
    color: #c01619 !important;
    font-family: 'Noto Sans', sans-serif;
    border-color: #c01619 !important;
    margin-left: 15px;
}

.my-danger-button:hover {
    background: #c01619 !important;
    color: #fff !important;
    border-color: #c01619 !important;
}
.account-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 85%;
}

.account-text {
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}
