@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}

.footeree {
    margin-top: 20px;
    padding: 10px;
    background-color: #0d1117 !important;
    color: #fff !important;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.my-orange-button-outline {
    background-color: #161b22 !important;
    color: #51CB63;
    font-family: 'Noto Sans', sans-serif;
    border-color: #51CB63;
    margin-left: 15px;
    transform: 1000ms ease;
}

.my-orange-button-solid {
    background-color: #51CB63 !important;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    border-color: #51CB63;
    margin-left: 15px;
    transform: 1000ms ease;
}


body {
    background-color: #0d1117;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #161b22;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.header-title {
    margin-left: 10px;
}

.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
    background: #161b22 !important;
    font-weight: 450;
    margin-right: 7px;

}

.ant-menu-dark .ant-menu-item-selected {
    background: #161b22 !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item a {
    color: #fff;
    height: 32px !important;
    border: 1.5px solid #161b22;
    line-height: 32px !important;
    padding: 0 16px !important;
    margin: 0 7px;
    border-radius: 8px !important;
}

.ant-menu-dark .ant-menu-item:hover {
    background: #161b22 !important;
    color: #51CB63 !important;
    border-color: #51CB63 !important;
    border: 1.5px solid;
    border-radius: 8px !important;
}

.my-orange-button-outline:hover,
.my-orange-button-solid:hover {
    background: #51CB63 !important;
    color: #fff !important;
    border-color: #51CB63 !important;
    transform: scale(1.1);

}

.my-modal .ant-modal-content,
.my-modal .ant-modal-title {
    font-family: 'Noto Sans', sans-serif;
    background-color: #161b22 !important;
    color: rgb(255, 255, 255) !important;
}

.my-modal .ant-modal-title {
    font-weight: 700;
    font-size: Large;
}

.my-modal .ant-modal-content {
    font-weight: 400;
}

.my-modal .login {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #222 !important;
    color: #fff !important;
    border: 1px solid #51CB63 !important;
}

.my-modal .damn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #222 !important;
    color: #ffffff;
    border: 1px solid #51CB63 !important;
}


.my-modal input::placeholder {
    color: #fff !important;
    opacity: 0.3;
}

.my-modal .ant-modal-close-x {
    color: #fff !important;

    svg {
        fill: #fff !important;
    }
}

.logo-button-outline {
    background-color: #161b22 !important;
    border: none !important;
    padding: 0 !important;
    vertical-align: middle;
}

.my-danger-button {
    background-color: #0d1117 !important;
    color: #c01619 !important;
    font-family: 'Noto Sans', sans-serif;
    border-color: #c01619 !important;
    margin-left: 15px;
    transform: 1000ms ease;
}

.my-danger-button:hover {
    background: #c01619 !important;
    color: #fff !important;
    border-color: #c01619 !important;
    transform: scale(1.1);
}

.page-fade-enter {
    opacity: 0;
}

.page-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.page-fade-exit {
    opacity: 1;

}

.page-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.account-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 85%;
}

.account-text {
    color: #fff;
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #fff;
    margin-bottom: 10px;
}

.code-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.code-aside {
    margin-left: 200px;
}

.code-textarea {
    width: 500px;
    height: 500px;
    background-color: #161b22;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #51CB63;
}

.code-textarea::placeholder {
    color: #51CB63;
    opacity: 1;
    font-family: 'Noto Sans', sans-serif;
}

textarea:focus,
textarea:active {
    outline: none;
    border-color: #51CB63;
    box-shadow: none;
}

.code-output {
    width: 500px;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    background-color: #161b22;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #51CB63;
}

.code-output::-webkit-scrollbar,
.code-result::-webkit-scrollbar, 
.code-textarea::-webkit-scrollbar {
    width: 0px; /* Ширина скроллбара */
}

.code-output::-webkit-scrollbar-track 
.code-result::-webkit-scrollbar, 
.code-textarea::-webkit-scrollbar {
    background: #51CB63; /* Цвет трека скроллбара */
    border-radius: 8px; /* Скругление трека */
    margin: 2px;
}

.code-output::-webkit-scrollbar-thumb 
.code-result::-webkit-scrollbar, 
.code-textarea::-webkit-scrollbar {
    background: #51CB63; /* Цвет ползунка */
    border-radius: 8px; /* Скругление ползунка */
    border: 2px solid #51CB63; /* Отступ между ползунком и треком */
}

.code-output::-webkit-scrollbar-thumb:hover 
.code-result::-webkit-scrollbar, 
.code-textarea::-webkit-scrollbar {
    background: #3fa94d; /* Цвет ползунка при наведении */
}

.code-result{
    width: 500px;
    height: 82px;
    background-color: #161b22;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #51CB63;
}

.code-text {
    color: #51CB63;
    font-size: 13px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    
}

.ant-select-dropdown {
    background-color: #161b22 !important;
    border: 1px solid #51CB63;
}

.ant-select-item-option-content {
    color: #51CB63 !important;
}

.ant-select-item-option-selected .ant-select-item-option-content {
    color: #161b22 !important;
}

.ant-select-item-option-selected {
    background-color: #51CB63 !important;
}

.ant-select-selection-item {
    color: #51CB63 !important;
}

.ant-select-selector {
    background-color: #161b22 !important;
    border: 1px solid #51CB63 !important;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center;
}

.my-divider {
  background-color: #51CB63;
  border-radius: 10px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 7px;
}