

.template-title{
    font-size: 24px !important; 
    font-family: 'Noto Sans', sans-serif;
    color: #51CB63 !important;
    font-weight: 400;
}

.template-preview{
    margin-bottom: 30px !important;
    display: block;
}

.template-text {
    font-size: 24px !important; 
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff !important;
    margin-bottom: 20px;
    font-weight: 400;
}
.template-starting-text{
    font-size: 32px !important; 
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff ;
    font-weight: 300;
}

.template-list{
    margin-left: 40px;
    margin-top:30px
}

.single-template-container{
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 30px;
    background-color: #0d1117;
    border: #a2aab3 2px solid;
    border-radius: 10px;
    padding: 20px;
    padding-top: 15px;
    margin-bottom: 20px;display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 24px; 
}

.single-template-title{
    font-size: 26px !important; 
    font-family: 'Noto Sans', sans-serif;
    color: #51CB63 !important;
    font-weight: 400;
}

.single-template-text {
    font-size: 18px !important; 
    font-family: 'Noto Sans', sans-serif;
    color: #ffffff !important;
    margin-bottom: 20px;
    font-weight: 400;
}

