@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.my-modal .ant-modal-content,
.my-modal .ant-modal-title {
    font-family: 'Noto Sans', sans-serif;
    background-color: #161b22 !important;
    color: rgb(255, 255, 255) !important;
}

.my-modal .ant-modal-title {
    font-weight: 700;
    font-size: Large;
}

.my-modal .ant-modal-content {
    font-weight: 400;
}

.my-modal .login {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #222 !important;
    color: #fff !important;
    border: 1px solid #51CB63 !important;
}

.my-modal .damn {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #222 !important;
    color: #ffffff;
    border: 1px solid #51CB63 !important;
}


.my-modal input::placeholder {
    color: #fff !important;
    opacity: 0.3;
}

.my-modal .ant-modal-close-x {
    color: #fff !important;

    svg {
        fill: #fff !important;
    }
}

.header {
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #161b22;
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.logo-button-outline {
    background-color: #161b22 !important;
    border: none !important;
    padding: 0 !important;
    vertical-align: top;
}

.logo-icon {
    font-size: 40px;
    font-weight: 100;
    transition: transform 0.3s ease, opacity 0.3s ease;
    color: #51CB63;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 2px #51CB63 !important;
}

* {
    margin: 0;
    padding: 0;
}


.main-content {
  flex: 1;
}

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.my-orange-button-outline {
    background-color: #161b22 !important;
    color: #51CB63;
    font-family: 'Noto Sans', sans-serif;
    border-color: #51CB63;
    margin-left: 15px;
}

.my-orange-button-solid {
    background-color: #51CB63 !important;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    border-color: #51CB63;
    margin-left: 15px;
}


html, body {
    background-color: #0d1117;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    height: 100%;
}

.my-orange-button-outline:hover,
.my-orange-button-solid:hover {
    background: #51CB63 !important;
    color: #fff !important;
    border-color: #51CB63 !important;

}

.page-fade-enter {
    opacity: 0;
}

.page-fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.page-fade-exit {
    opacity: 1;

}

.page-fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}